/* Estilos globais para a aplicação */
#root {
  width: 100%;
  height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}
